<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="prenom" value="Thomas, Magali, Olivier"/>
  </appSettings>
  <connectionStrings>
    <add name="ServeurTestUser" connectionString="Data Source=ns334685.ip-5-196-66.eu;Database=JeuDroidesFormation;User Id=formation.user;Password = formation.user!;Connection Timeout=6"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>